In [26]:
import pandas as pd

import config
import datahelper

import importlib
importlib.reload(config)
importlib.reload(datahelper)

### Load data

In [23]:
ais_df = dataprep.load_ais_data_fi_10_minutes_2018()
display(ais_df.head(3))
display(ais_df.shape)

Loading data from https://www.dropbox.com/s/e2rpxxtw5d5uu8x/ais-observations-10-minutes-201803191240.csv?dl=1

,timestamp,mmsi,lon,lat,sog,cog,heading
0,2018-03-19 12:40:00.830,230251000,23.085252,64.788618,14.8,116.2,113
1,2018-03-19 12:40:00.831,230282000,21.478390,61.595585,0.0,309.0,283
2,2018-03-19 12:40:00.843,230991780,21.412683,61.114087,5.5,259.1,269

(3939, 7)

### Show number of vessels

In [24]:
n_of_vessels = ais_df['mmsi'].nunique()
print(f'There are {n_of_vessels} vessels in the dataset')

There are 104 vessels in the dataset