<a href="https://colab.research.google.com/github/solita/a-ice/blob/main/notebooks/data-explanation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATASET
## This dataset is from March, 2018 and it contains historical AIS-data from Baltic sea (14.3.2018 - 21.3.2018)

In [ ]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
ais_2018_df = pd.read_csv('/content/drive/Shareddrives/A-ICE/Data/AIS/ais-observations-1-week-20180315.csv') #use Pandas for reading CSV-file

In [ ]:
ais_2018_df.head()

                 timestamp       mmsi        lon  ...   sog    cog  heading
0  2018-03-20 10:12:46.014  230068740  28.944513  ...   0.0  338.4      177
1  2018-03-20 10:12:46.016  230252000  22.699115  ...  14.1  335.2      335
2  2018-03-20 10:12:46.021  230071310  27.696937  ...   0.0  279.6      511
3  2018-03-20 10:12:46.023  230938570  21.217443  ...   0.0  188.6      207
4  2018-03-20 10:12:46.024  265182000  22.251873  ...   8.7   74.9       74

[5 rows x 7 columns]

## The dataset contains seven different columns: timestamp, mmsi, lon, lat, sog, cog and heading.


*   **MMSI:** (Maritime Mobile Service Identity) Uniquely identifies the vessel. 
***LON:** Longitude
***LAT:** Latitude
***SOG:** (Speed Over Ground) Speed of the vessel relative to the surface of the earth. Speed unit: knots. 
***COG:** (Course Over Ground) Describes the direction of motion with respect to the ground that a vessel has moved relative to the magnetic north pole or geographic north pole
***Heading:** Heading describes the direction that a vessel is pointed at any time relative to the magnetic north pole or geographic north pole. The vessel's Heading may differ from the COG due to the effects of wind, Tide and currents.
![COG:Heading.jpg]()

  (Plane as an example, same for vessels.)