<a href="https://colab.research.google.com/github/solita/a-ice/blob/main/notebooks/preprocess_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#WINTER 2018, 1 week

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
ais_2018_df = pd.read_csv('/content/drive/Shareddrives/A-ICE/Data/AIS/ais-observations-1-week-20180315.csv')

In [3]:
ais_2018_df.head()

                 timestamp       mmsi        lon  ...   sog    cog  heading
0  2018-03-20 10:12:46.014  230068740  28.944513  ...   0.0  338.4      177
1  2018-03-20 10:12:46.016  230252000  22.699115  ...  14.1  335.2      335
2  2018-03-20 10:12:46.021  230071310  27.696937  ...   0.0  279.6      511
3  2018-03-20 10:12:46.023  230938570  21.217443  ...   0.0  188.6      207
4  2018-03-20 10:12:46.024  265182000  22.251873  ...   8.7   74.9       74

[5 rows x 7 columns]

In [4]:
df = ais_2018_df.head(3)[['lon', 'lat']]
display(df)

         lon        lat
0  28.944513  61.844122
1  22.699115  64.149142
2  27.696937  62.891782

##Linear regression testing

In [5]:
from sklearn.linear_model import LinearRegression
m = LinearRegression()

train = df.head(2)
display(train)

test = df.tail(1)
display(test)

         lon        lat
0  28.944513  61.844122
1  22.699115  64.149142

         lon        lat
2  27.696937  62.891782

In [6]:
m.fit(train['lon'].values.reshape(-1, 1), train['lat'].values.reshape(-1,1))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
m.predict([[10.049203]])

array([[68.81790715]])